{% extends 'base.html.twig' %}

{% block title %}Changer Mot de passe | la boutique{% endblock %}

{% block body %}
    <div class="my-5 container">
        <h1 class="mb-3">Modifier mot de passe</h1>
        <a class="text-decoration-none" href="{{ path('app_account') }}">Retourner vers mon compte</a>
        <hr>

        <div class="row">
            <div class="col-lg-6">
                {{ form(form) }}
            </div>
        </div>
    </div>

{% endblock %}
