<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
    {% include 'layout/contents/marketing-messaging.html.twig' %}
    {% include 'layout/contents/marketing-featurette.html.twig' %}
</div>